*{
    box-sizing: border-box;
    padding: 0%;
    margin: 0%;
}
.snapshot{
    color: #051c33;
    font-size: 65px;
    margin-top: 50PX;
    text-align: center;
}
.search-field{
    display: flex;
    justify-content: center;
    margin-top: 30px;
}
.input-field{
    width: 33%;
    height: 40px;
    font-size: 1em;
    background-color: #edeff0;
    padding: 10px 15px;
    border: 3px solid #d7dbdf;
    border-right: none;
    border-radius: .35em 0 0 .35em;
    outline: none;
    
}
.search-btn{
    background-color: #051c33;
    width: 5%;
    height: 40px;
    border: none;
    color: white;
    border-radius: 0 .35em .35em 0;
    pointer-events: none;
}
ul li{
    list-style-type: none;
}
.allbutton{
    margin-top: 30px;
    display: flex;
    justify-content: center;
    gap: 1.5em;
}
.btn{
    background-color: #051c33;
    width: 10%;
    color: white;
}
.btn:hover{
    background-color: #051c33;
    width: 10%;
    cursor: pointer;
    color: white;
}
@media (max-width: 768px) {
    .allbutton{
        width: 100%;
    }
    .btn{
        width: 100%;
    }
}
